postgresqlPassword: "{{ .Environment.Values.postgres.password }}"

auth:
  postgresPassword: "{{ .Environment.Values.postgres.password }}"
  password: "{{ .Environment.Values.postgres.password }}"

primary:
  resources:
    requests:
      memory: 256Mi
      cpu: 250m
    limits:
      cpu: 1
