{
  "type": "postgres",
  "host": "postgres-postgresql.default",
  "port": 5432,
  "username": "postgres",
  "password": "",
  "database": "animeta",
  "entities": ["dist/**/*.entity{.ts,.js}"],
  "synchronize": false,
  "logging": false
}
