apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/acme-challenge-type: http01
    cert-manager.io/issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/from-to-www-redirect: "true"
  name: animeta
spec:
  ingressClassName: nginx
  rules:
  - host: animeta.net
    http:
      paths:
      - backend:
          service:
            name: animeta-static-proxy
            port:
              number: 80
        path: /_static
        pathType: Prefix
      - backend:
          service:
            name: animeta-frontend
            port:
              number: 3000
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - animeta.net
    - www.animeta.net
    secretName: animeta-tls
